<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <title>Assistência Jurídica</title>
    <link rel="icon" type="image/png" href="../../../assets/common/img/Icone-do-site.png" sizes="32x32">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="../../../assets/common/css/site.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: ["Tenor Sans:regular", "Source Serif Pro:regular,700", "Libre Franklin:regular,600"]
            }
        });
    </script>
</head>

<body>
    <header id="header">
        <!-- Menu -->
        <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation w-nav">
            <div class="navigation-container">
                <a href="../../../views/index.html" aria-current="page" class="logo w-inline-block w--current">
                    <img src="../../../assets/common/img/grupo4-logo.png" alt="" class="image-logo" />
                </a>
                <nav id="menu" role="navigation" class="nav-menu w-nav-menu">
                    <a href="../../index.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                        <div class="navigation-link-text">Início</div>
                        <div class=""></div>
                    </a>
                    <a href="../covid.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                        <div class="navigation-link-text">Covid-19</div>
                        <div class=""></div>
                    </a>
                    <a href="../financeiro.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Finanças</div>
                        <div class=""></div>
                    </a>
                    <a href="../profissional.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Profissional</div>
                        <div class=""></div>
                    </a>
                    <a href="../pessoal.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Social</div>
                        <div class=""></div>
                    </a>
                    <a href="../../sobre.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Sobre nós</div>
                        <div class=""></div>
                    </a>
                </nav>

                <!-- Menu Dropdown -->

                <div id="menu-dropdown" class="dropdown">
                    <button class="dropbtn"><img class="dropdown-img" src="../../../assets/common/img/MostrarMais.png"
                            alt="Categorias"></img></button>
                    <div class="dropdown-content pull-left">
                        <a href="../../index.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                            <div class="navigation-link-text-dropdown">Início</div>
                            <div class=""></div>
                        </a>
                        <a href="../covid.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                            <div class="navigation-link-text-dropdown">Covid-19</div>
                            <div class=""></div>
                        </a>
                        <a href="../financeiro.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Finanças</div>
                            <div class=""></div>
                        </a>
                        <a href="../profissional.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Profissional</div>
                            <div class=""></div>
                        </a>
                        <a href="../pessoal.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Social</div>
                            <div class=""></div>
                        </a>
                        <a href="../../sobre.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Sobre nós</div>
                            <div class=""></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="title-section">
            <div class="container cc-center">
                <div class="text-container">
                    <a href="../pessoal.html" class="section-title-text w-inline-block">
                        <div class="post-category-text">Social</div>
                    </a>
                    <h1 class="h1">ASSISTÊNCIA JURÍDICA GRATUITA</h1>
                    <div class="post-author-text cc-center">
                        <a class="post-author">Jeniffer Souza</a>
                        <!-- Date and time-->
                        <hr>
                        <p class="h6-text-muted">Postado em 5 Maio de 2021</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-content">
            <div class="post-content-wrapper">
                <div class="rich-text w-richtext">
                    <div>
                        <img class="post-image" src="../../../assets/common/img/Imagem-texto-assis-juri.jpg"></img>
                    </div>
                    <br>
                    <p class="titulo-paragrafo">O que é ?</p>
                    <p>É um serviço de apoio aos cidadãos que não tem dinheiro o suficiente para pagar um advogado particular. </p>
                    <br>
                    <p class="titulo-paragrafo">O que faz ?</p>
                    <div class="display-flex">
                        <div class="text-leftside">
                            <br>
                            <p>Na assistência é prestado serviço de orientação jurídica ou judiciária, bem como, consultoria jurídica, que consiste em tirar as dúvidas dos cidadãos leigos, ou até mesmo, representá-los em juízo, quando necessário.
                                <p>Logo, quando um cidadão busca esse tipo de serviço, ele é representado em todos os graus do sistema judiciário, e com isso a parte fica isenta de pagar os honorários advocatícios, assim como, as custas do processo.</p>
                            </p>
                        </div>
                        <div>
                            <img class="image-desktop post-image image-rightside" src="../../../assets/common/img/Imagem-texto-assis-juri2.png"></img>
                        </div>
                    </div>

                    <div>
                        <img class="image-mobile-display-none image-mobile post-image" src="../../../assets/common/img/Imagem-texto-assis-juri2.png"></img>
                    </div>

                    <br>
                    <br>
                    <p class="titulo-paragrafo">Como funciona ?</p>
                    <p>Para adquirir este serviço, o cidadão deve provar que não tem condições o suficiente para pagar um advogado sem prejuízo a subsistência de seu próprio sustento e/ou de sua família. Conforme a Lei nº 1.060/1950, quando você declara
                        que sua situação econômica não lhe permite vir a juízo sem prejuízo de sua manutenção ou de sua família, isso já é o bastante para viabilizar o acesso ao benefício da assistência jurídica.</p>
                    <br>
                    <p class="titulo-paragrafo">Institutos em São Paulo que disponibilizam assistência jurídica:</p>
                    <br>
                    <p>
                        <spam class="bd">DEFENSORIAS PÚBLICAS:</spam> As Defensorias Públicas são instituições autônomas e independentes que exercem a função de orientação jurídica, promoção dos direitos humanos e defesa dos direitos individuais e coletivos em todos os
                        graus (judicial e extrajudicial) de pessoas necessitadas, de forma integral e gratuita.
                    </p>
                    <p>
                        <spam class="bd">EAJ – Escritório de Assistência Judiciária Professor Alberto Mesquita Camargo:
                        </spam> É um departamento de assistência jurídica vinculado a Universidade São Judas Tadeu, em que é oferecido consultoria jurídica na matéria de Direito de Família e Cível. Consiste numa consultoria realizada pelos estudantes
                        de Direito da USJT, da unidade Mooca e Butantã para com a comunidade carente de toda a grande São Paulo, com a supervisão de advogados contratados. (Assim como, diversas outras faculdades que também disponibilizam esse tipo de
                        serviço).

                    </p>
                    <br>
                    <p class="titulo-paragrafo">Temos também institutos online que também prestam serviços jurídicos gratuitos:
                    </p>
                    <br>
                    <p>
                        <spam class="bd">INSTITUTO PRO BONO:</spam> É um instituto online de assistência jurídica no qual atende a população carente, bem como, instituições sem fins lucrativos (ONGS) também voltadas ao atendimento de pessoas em estado de vulnerabilidade.
                        Consulta em todas as matérias do Direito.

                    </p>
                    <p>
                        <spam class="bd">ADVOCACIA VOLUNTÁRIA:</spam> É uma entidade sem fins lucrativos que disponibiliza atendimento voltado para a área jurídica, prestado por advogados voluntários. O serviço visa diretamente pessoas em estado de vulnerabilidade, que
                        não tem condições de arcar com honorários advocatícios, e que se encontra em uma situação de urgência em que não possa esperar a fila da Defensoria Pública.

                    </p>
                    <br>
                    <p class="titulo-paragrafo ">Endereços e telefones de institutos que prestam assistência gratuita em São Paulo:</p>
                    <br>
                    <p class="bd ">REGIÃO CENTRAL:</p>
                    <p class="institutos ">DEFENSORIA PÚBLICA DE SÃO PAULO– TODA CAPITAL - (CÍVEL/FAMÍLIA)</p>
                    <p>Rua. Boa Vista, 150 – Centro. WHATSAP (11) 9 4220-9925 – Resposta em até 24horas. Renda familiar até 3 salários mínimos. Agendamento das 8:00 ás 18:00 horas – 2ª á 6ª feira –Tel.: 0800 773 4340 / 3489-2700</p>
                    <p class="institutos ">UNIDADE NÃO ESTA ABERTA PARA ATENDIMENTO PRESENCIAL.</p>
                    <br>
                    <p class="institutos ">ASSISTÊNCIA JURÍDICA / JUIZADO ESPECIAL – UNIP - FÓRUM DE SANTO AMARO E PARELHEIROS
                    </p>
                    <p>Rua Cancioneiro de Avora 490 – Chácara Santo Antônio. Juizado Especial (CÍVEL) 2ª a 6ª feira das 12:30 às 17:00 horas – Tel.: (11) 2114-4060 Juizado Especial (FAMÍLIA) 4ª e 5ª feira das 9:30 às 17:00 horas – Atendimento PRESENCIAL
                        por ordem de chegada</p>
                    <p class="institutos ">SEM ATENDIMENTO PRESENCIAL, SEM PREVISÃO DE RETORNO</p>
                    <p><span class="bd ">ATENDIMENTO REMOTO VIA EMAIL: </span>jecanexounip@gmail.com</p>
                    <br>
                    <p class="institutos ">ASSISTÊNCIA JURÍDICA UNIP – ALPHAVILLE – (CÍVEL /FAMÍLIA) – SANTANA DE PARNAIBA
                    </p>
                    <p>Av. Yojiro Takaoka, 3500 – Alphaville. Triagem de 2 ª e 6 ª DAS 07:00 às 13:00 horas, ligar para AGENDAR através do telefone: (11) 4152-8835. Atendimento: 3ª e 5ª feira das 13:00 às 17:00 horas Obs. Renda familiar até 3 salários mínimos.</p>
                    <p class="institutos ">ATENDIMENTO PRESENCIAL SUSPENSO POR TEMPO INDETERMINADO.</p>
                    <br>
                    <p class="bd ">REGIÃO NORTE:</p>
                    <p class="institutos ">ANHANGUERA – CAMPUS MARTE – (FAMÍLIA / CIVEL / TRABALHISTA / PENAL – FÓRUM DE SANTANA</p>
                    <p>Avenida Braz Leme, 3029 – Santana. Atendimento 2ª e 4ª Feiras das 14:00 às 16:00, somente orientação jurídica. Fones: (11) 2972-9036/ 9040/9037 .
                    </p>
                    <p class="institutos ">SEM ATENDIMENTO E SEM PREVISÃO DE RETORNO.</p>
                    <br>
                    <p class="bd ">REGIÃO SUL:</p>
                    <p class="institutos ">ASSISTÊNCIA JURÍDICA / JUIZADO ESPECIAL – UNIP - FÓRUM DE SANTO AMARO E PARELHEIROS</p>
                    <p>Rua Cancioneiro de Avora 490 – Chácara Santo Antônio. Juizado Especial (CÍVEL) 2ª a 6ª feira das 12:30 às 17:00 horas – Tel.: (11) 2114-4060 Juizado Especial (FAMÍLIA) 4ª e 5ª feira das 9:30 às 17:00 horas – Atendimento PRESENCIAL
                        por ordem de chegada.</p>
                    <p class="institutos ">SEM ATENDIMENTO PRESENCIAL, SEM PREVISÃO DE RETORNO</p>
                    <p><span class="bd ">ATENDIMENTO REMOTO VIA EMAIL: </span>jecanexounip@gmail.com</p>
                    <br>
                    <p class="institutos "> ASSISTÊNCIA JUDICIÁRIA – UNISA – (CÍVEL /FAMILIA) FÓRUM DE SANTO AMARO</p>
                    <p> Rua Isabel Shimitt, 349 A– Santo Amaro. CÍVEL -: (11) 2141-8958 – Atendimento: 2ª a 6ª feira das 12:30 às 17:00 horas. FAMÍLIA: (11) 2141-8943 Agendamento: das 15:00 ás 18:00 horas de 2° a 5° feira. Triagem às 12:30 horas.(PARA ABERTURA
                        DE PROCESSOS). Renda familiar até 3 salários mínimos.</p>
                    <p><span class="bd ">ATENDIMENTO REMOTO VIA EMAIL: </span>: JECUNISA@TJSP.JUS.BR</p>
                    <br>
                    <p class="bd ">REGIÃO LESTE:</p>
                    <p class="institutos "> UNIVERSIDADE SÃO JUDAS TADEU – ESCRITÓRIO DE ASSISTÊNCIA – (CÍVEL /FAMÍLIA)</p>
                    <p> Região: Penha - Vila Prudente / Ipiranga/ Central e Tatuapé (CÍVEL /FAMÍLIA). SOMENTE AÇÃO INICIAL (Com estagiários) Rua Marcial, 91 – Mooca Triagem: 2ª a 6ª feira das09:00 ás 11:00h e das 14:00 às 17:00h. Fone: (11) 2799-1982/1916/1910/1993
                        Por ordem de chegada. 5 PESSOAS POR DIA Renda familiar até 3 salários mínimos</p>
                    <p class="institutos ">ENTRAR EM CONTATO ANTES DE COMPARECER.</p>
                    <br>
                    <p class="institutos "> DEFENSORIA PÚBLICA – SÃO MIGUEL PAULISTA ( FAMÍLIA/CIVEL)</p>
                    <p>Região: São Miguel, Ermelino Matarazzo, Itaim Paulista, Jd. Helena, Vila Jacuí, Ponte Rasa e Vila Curuçá Avenida Afonso Lopes de Baião, 1976 CEP 08040-000. Telefone: 2053-4088 / 0800 773 4340 Distribuição de senhas das 7:00 às 8:0
                        horas. Atendimento a partir das 8:00.</p>
                    <p class="institutos">SÓ PESSOAS COM MANDADO.</p>
                    <p class="institutos">ENTRAR EM CONTATO ANTES DE COMPARECER.</p>
                    <br>
                    <p class="bd ">REGIÃO OESTE:</p>
                    <p class="institutos">UNIVERSIDADE SÃO JUDAS TADEU - Butantã - ESCRITÓRIO DE ASSISTÊNCIA – FÓRUM PINHEROS – (CÍVEL/ FAMÍLIA) – FÓRUM DIGITAL BUTANTÃ (CÍVEL/FAMÍLIA)</p>
                    <p>Avenida Vital Brasil, 1000 – Butantã. Tel: 3817-6711 Atendimento (Por ordem de chegada): 2ª a 6ª feira das 9:00 às 11:00 - 13:00 às 16:00 horas. Renda até 3 salários mínimos e imóvel no valor venal de até R$ 120.000 OBS: Atendimento
                        para as 5 primeiras pessoas (5 pessoas por dia).
                    </p>
                    <p class="institutos">ENTRAR EM CONTATO ANTES DE COMPARECER.</p>
                    <br>
                    <p class="institutos">ASSISTÊNCIA JURÍDICA UNIP – PINHEIROS - (FAMÍLIA) – ATUA PARA O FÓRUM DE PINHEIROS
                    </p>
                    <p> Rua Sumidouro, 190 – Pinheiros. Fone: (11) 3039-7944 (Não aceitam prazos). Atendimento com advogado (Por ordem de chegada): 4ª e 5ª feira das 08:00 às 17:00 horas e 6ª feira das 13:00 às 17:00 horas.
                    </p>
                    <p class="institutos">SEM ATENDIMENTO PRESENCIAL E SEM PREVISÃO DE RETORNO.</p>
                    <br>
                    <p class="bd ">ABC PAULISTA:</p>
                    <p class="institutos">UNIAN – ABC (MANDADO DE SEGURANÇA AREA ESCOLAR / FAMÍLIA/ ALVARÁ JUDICIAL(LEVANTAMENTO PISO e FGTS)
                    </p>
                    <p>Avenida Rudge Ramos, 1320 (Rudge Ramos) São Bernardo do Campo. Tel: (11) 4362-9056 / 9022 / 9060/9000/9055 Agendamento de Triagem: Com estagiários, 2ª a 6ª das 15:00 às 18:00 horas. Atendimento: Com Advogados de 3ª e 5ª feira das 16:00
                        às 18:00 horas.7 OBS: Renda familiar até 3 salários mínimos.
                    </p>
                    <p class="institutos">ENTRAR EM CONTATO ANTES DE COMPARECER.</p>
                    <br>
                    <p class="bd ">MUNICÍPIO DE SANTANA DE PARNÁIBA: </p>
                    <p class="institutos">ASSISTÊNCIA JURÍDICA UNIP – ALPHAVILLE – (CÍVEL /FAMÍLIA) – SANTANA DE PARNAIBA</p>
                    <p>Av. Yojiro Takaoka, 3500 – Alphaville. Atendimento: 2 ª e 6 ª DAS 09:00 às 12:00 horas, ligar para AGENDAR através do telefone: (11) 4152-8835. Obs. Renda familiar até 3 salários mínimos.</p>
                    <p class="institutos">ATENDIMENTO PRESENCIAL SUSPENSO POR TEMPO INDETERMINADO.</p>
                    <br>
                    <br>
                    <p class="bd">Referências:</p>
                    <div class="url-link">
                        <a href="https://probono.org.br/cadastro/entidade/?gclid=CjwKCAjwj6SEBhAOEiwAvFRuKEAUsfLcy8FokNGqUAHQDl5z9cUxVvprUF2i8Txf0ip-WL82pXvH3hoCVMEQAvD_BwE" target="_blank">Instituto Pro Bono</a>;
                        <br>
                        <a href="https://www.usjt.br/prppg/midia/press_releases/2011/maio/assistencia_juridica.php" target="_blank">EAJ- Escritório de Assistência Judiciária Professor Alberto Mesquita de
                            Camargo</a>;
                        <br>
                        <a href="https://www.oabsp.org.br/informacoesuteis/enderecos-para-assistencia-judiciaria" target="_blank"> OAB - Ordem dos
                            Advogados do Brasil</a>;
                        <br>
                        <a href="https://www.advocaciavoluntaria.com.br/" target="_blank">Advocacia Voluntária</a>;
                        <br>
                    </div>

    </section>
    <footer id="footer">
        <!-- Rodape -->
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../../assets/common/js/site.js" type="text/javascript "></script>
<script src="../../../assets/common/js/footer.js" type="text/javascript "></script>

</html>