<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <title>Hobbies na quarentena</title>
    <link rel="icon" type="image/png" href="../../../assets/common/img/Icone-do-site.png" sizes="32x32">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="../../../assets/common/css/site.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: ["Tenor Sans:regular", "Source Serif Pro:regular,700", "Libre Franklin:regular,600"]
            }
        });
    </script>
</head>

<body>
    <header id="header">
        <!-- Menu -->
        <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation w-nav">
            <div class="navigation-container">
                <a href="../../../views/index.html" aria-current="page" class="logo w-inline-block w--current">
                    <img src="../../../assets/common/img/grupo4-logo.png" alt="" class="image-logo" />
                </a>
                <nav id="menu" role="navigation" class="nav-menu w-nav-menu">
                    <a href="../../index.html" aria-current="page"
                        class="over navigation-link w-inline-block w--current">
                        <div class="navigation-link-text">Início</div>
                        <div class=""></div>
                    </a>
                    <a href="../covid.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                        <div class="navigation-link-text">Covid-19</div>
                        <div class=""></div>
                    </a>
                    <a href="../financeiro.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Finanças</div>
                        <div class=""></div>
                    </a>
                    <a href="../profissional.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Profissional</div>
                        <div class=""></div>
                    </a>
                    <a href="../pessoal.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Assistência social</div>
                        <div class=""></div>
                    </a>
                    <a href="../../sobre.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Sobre nós</div>
                        <div class=""></div>
                    </a>
                </nav>

                <!-- Menu Dropdown -->

                <div id="menu-dropdown" class="dropdown">
                    <button class="dropbtn"><img class="dropdown-img" src="../../../assets/common/img/MostrarMais.png"
                            alt="Categorias"></img></button>
                    <div class="dropdown-content pull-left">
                        <a href="../../index.html" aria-current="page"
                            class="over navigation-link w-inline-block w--current">
                            <div class="navigation-link-text-dropdown">Início</div>
                            <div class=""></div>
                        </a>
                        <a href="../covid.html" aria-current="page"
                            class="over navigation-link w-inline-block w--current">
                            <div class="navigation-link-text-dropdown">Covid-19</div>
                            <div class=""></div>
                        </a>
                        <a href="../financeiro.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Finanças</div>
                            <div class=""></div>
                        </a>
                        <a href="../profissional.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Profissional</div>
                            <div class=""></div>
                        </a>
                        <a href="../pessoal.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Assistência social</div>
                            <div class=""></div>
                        </a>
                        <a href="../../sobre.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Sobre nós</div>
                            <div class=""></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="title-section">
            <div class="container cc-center">
                <div class="text-container">
                    <a href="../covid.html" class="section-title-text w-inline-block">
                        <div class="post-category-text">Covid 19</div>
                    </a>
                    <h1 class="h1">HOBBIES NA QUARENTENA</h1>
                    <div class="post-author-text cc-center">
                        <a class="post-author">Giovanna Laghetto</a>
                        <!-- Date and time-->
                        <hr>
                        <p class="h6-text-muted">Postado em 18 Maio de 2021</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-content">
            <div class="post-content-wrapper">
                <div class="rich-text w-richtext">
                    <p>&nbsp; Não é segredo algum que muitos tiveram seus hobbies e lazeres cortados da rotina
                        devido às condições da quarentena. Contudo, é possível dar uma personalizada para
                        diminuir o tédio e até mesmo ocupar a mente de uma forma saudável para se distrair dos
                        afazeres cansativos do dia a dia.</p>
                    <p>&nbsp; Vamos listar algumas coisas que podem servir como distração enquanto ainda
                        permanece em casa:</p>
                    <ol>
                        <li><i>Internet</i></li>
                    </ol>
                    <p>&nbsp; Se você já possui alguma conta em uma rede social como Facebook, Instagram,
                        Twitter, enfim, é provável que seu tempo navegando neles tenha aumentado durante esse
                        tempo, o que é incrivelmente normal! Através deles nós temos como nos comunicar com as
                        outras pessoas, acompanhar um pouco as histórias de pessoas distantes, participar de lives
                        e, claro, se distrair com um meme ou outro. Porém, é fundamental que essas coisas não
                        sejam as únicas que te distraiam, afinal de contas, a Internet é excelente, mas não acaba
                        sendo saudável ficar passando muito tempo nela. Sem contar que, não são apenas as
                        redes sociais que a Internet tem a nos oferecer, por meio dela você consegue ter acesso a
                        aulas onlines, vídeos criativos no Youtube, livros virtuais, entre outros.</p>
                    <ol start="2">
                        <li><i>Jogos</i></li>
                    </ol>
                    <p>&nbsp; Muitos jogos foram esquecidos por conta da correria, mas
                        relembrá-los seria super interessante para poder passar o tempo, por
                        exemplo, temos os jogos de tabuleiro e/ou cartas como Jogo da Vida,
                        Monopoly, Banco Imobiliário, Uno, Baralho e muitos outros; mas caso
                        você não tenha nenhum deles em casa, não se preocupe, existem
                        opções de jogos sem a necessidade de um tabuleiro, como o jogo de
                        Detetive, onde você pode usar papéis da sua casa para distribuir as
                        funções de cada um, e até mesmo o jogo de Stop. </p>

                    <div><img class="center" src="../../../assets/common/img/hobbies2.jpg"></div>

                    <p>Enfim, são inúmeros
                        jogos que podem servir para uma dinâmica entre você e as pessoas com quem convive. Ah,
                        e claro, caso tenha alguma criança em casa, nesse site você poderá ter algumas ideias de
                        brincadeiras divertidas para que elas se ocupem:
                        
                    </p>
                    <a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/direitos_humanos/noticias/?p=310113">Vale a pena conferir!</a>
                    
                    <ol start="3">
                                <li><i>Filmes e séries</i></li>
                            </ol>
                            <p>&nbsp; Nos dias de hoje temos diversas plataformas online que nos disponibilizam assistir
                                inúmeros filmes e séries. A Netflix tem sido muito procurada pelas opções que ela oferece
                                por R$ 21,90 ao mês com o plano básico, porém, se ainda quiser alguma plataforma desse
                                tipo com um valor mais em conta, o Prime Video é uma excelente escolha, com apenas R$
                                9,90 ao mês você tem acesso à muitos filmes e séries para poder maratonar. Escolher
                                filmes como hobby acaba sendo divertido e com certeza uma boa distração.</p>

                    <ol start="4">
                        <li><i>Se mantenha ativo</i></li>
                    </ol>
                    <p>&nbsp; Você pode ser uma pessoa que sempre frequentou academia, como pode ser
                        aquela que nunca teve tempo para investir nisso. Uma dica boa é aquela que te mostra que
                        é possível se exercitar em casa sem gastar um real e ainda assim não ficar preso ao
                        sedentarismo. Alguns sites específicos nos mostram como fazer exercícios bons em casa
                        como este aqui: </p>
                    <a href="https://www.uol.com.br/vivabem/noticias/redacao/2020/03/23/exercicios-para-fazer-em-casatreino-para-queimar-calorias-na-quarentena.htm">Treine em casa</a>
                    <p>Todavia, se você estiver com um dinheiro
                        extra, é bacana dar uma investida em apps com professores que gravam vídeos online com
                        diversos tipos de exercícios para níveis diferentes.</p>
                    <ol start="5">
                        <li><i>Novos projetos</i></li>
                    </ol>
                    <p>&nbsp; Sabe aquele projeto engavetado por falta de tempo? Pois bem,
                        se você se tornou uma pessoa com tempo para o tédio, que tal usar
                        dele para algo produtivo? Aquela ideia de escrever um livro,
                        desenvolver novas ideias para a reforma da casa, aprender a fazer
                        crochê, treinar seu animal doméstico, aprender uma nova língua
                        através de aulas gratuitas pela internet, etc; use desse tempo para
                        fazer aquilo que tem adiado há muitos anos.</p>
                    <div><img src="../../../assets/common/img/hobbies1.jpg"></div>
                    <div>
                        <p>REFERÊNCIAS:</p>
                        <a href="https://6minutos.uol.com.br/cultura-e-viagem/covid-vai-mudar-de-vez-hobbies-e-lazer-veja-1
                        0-diversoes-que-nos-ajudaram-na-pandemia/"
                            target="_blank">6minutos - uol.com : Covid vai mudar de vez hobbies e lazer</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <!-- Rodape -->
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../../assets/common/js/site.js" type="text/javascript"></script>
<script src="../../../assets/common/js/footer.js" type="text/javascript"></script>

</html>