<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <title>Máscaras</title>
    <link rel="icon" type="image/png" href="../../../assets/common/img/Icone-do-site.png" sizes="32x32">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="../../../assets/common/css/site.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: ["Tenor Sans:regular", "Source Serif Pro:regular,700", "Libre Franklin:regular,600"]
            }
        });
    </script>
</head>

<body>
    <header id="header">
        <!-- Menu -->
        <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation w-nav">
            <div class="navigation-container">
                <a href="../../../views/index.html" aria-current="page" class="logo w-inline-block w--current">
                    <img src="../../../assets/common/img/grupo4-logo.png" alt="" class="image-logo" />
                </a>
                <nav id="menu" role="navigation" class="nav-menu w-nav-menu">
                    <a href="../../index.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                        <div class="navigation-link-text">Início</div>
                        <div class=""></div>
                    </a>
                    <a href="../covid.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                        <div class="navigation-link-text">Covid-19</div>
                        <div class=""></div>
                    </a>
                    <a href="../financeiro.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Finanças</div>
                        <div class=""></div>
                    </a>
                    <a href="../profissional.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Profissional</div>
                        <div class=""></div>
                    </a>
                    <a href="../pessoal.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Assistência social</div>
                        <div class=""></div>
                    </a>
                    <a href="../../sobre.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Sobre nós</div>
                        <div class=""></div>
                    </a>
                </nav>

                <!-- Menu Dropdown -->

                <div id="menu-dropdown" class="dropdown">
                    <button class="dropbtn"><img class="dropdown-img" src="../../../assets/common/img/MostrarMais.png" alt="Categorias"></img></button>
                    <div class="dropdown-content pull-left">
                            <a href="../../index.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                                <div class="navigation-link-text-dropdown">Início</div>
                                <div class=""></div>
                            </a>
                            <a href="../covid.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                                <div class="navigation-link-text-dropdown">Covid-19</div>
                                <div class=""></div>
                            </a>
                            <a href="../financeiro.html" class="over navigation-link w-inline-block">
                                <div class="navigation-link-text-dropdown">Finanças</div>
                                <div class=""></div>
                            </a>
                            <a href="../profissional.html" class="over navigation-link w-inline-block">
                                <div class="navigation-link-text-dropdown">Profissional</div>
                                <div class=""></div>
                            </a>
                            <a href="../pessoal.html" class="over navigation-link w-inline-block">
                                <div class="navigation-link-text-dropdown">Assistência social</div>
                                <div class=""></div>
                            </a>
                            <a href="../../sobre.html" class="over navigation-link w-inline-block">
                                <div class="navigation-link-text-dropdown">Sobre nós</div>
                                <div class=""></div>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="title-section">
            <div class="container cc-center">
                <div class="text-container">
                    <a href="../covid.html" class="section-title-text w-inline-block">
                        <div class="post-category-text">Covid 19</div>
                    </a>
                    <h1 class="h1">Máscaras: como previnir o Covid-19?</h1>
                    <div class="post-author-text cc-center">
                        <a class="post-author">Marcelo Junior</a>
                        <!-- Date and time-->
                        <hr>
                        <p class="h6-text-muted">Postado em 5 Maio de 2021</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-content">
            <div class="post-content-wrapper">
                <div class="rich-text w-richtext">
                    <p class="bd">A máscara de pano ideal: </p>
                    <p>As de tecido industrializadas são consideradas mais seguras, pois passam por processos de garantia de qualidade. Se for comprar uma caseira, fique especialmente de olho na escolha. “O ideal é que sejam feitas de tecidos hidrofóbicos,
                        como o TNT e o poliéster.</p>
                    <br>
                    <p style="margin-top: 50px;" class="bd">Máscaras caseiras são eficazes ?</p>
                    <p>É essencial que os profissionais de saúde estejam equipados com o melhor possível que garanta sua segurança. Já que a população em geral pode continuar utilizando a máscara de tecido caseira com três camadas, capaz de filtrar até 70%
                        das partículas. A entrevistada do Jornal da USP no Ar 1ª Edição, Thaís Guimarães, da Subcomissão de Controle de Infecção Hospitalar do Instituto Central do Hospital das Clínicas (ICHC) da Faculdade de Medicina da USP, concorda.
                        De acordo com ela, as máscaras de tecido são e continuam eficazes, se usadas de forma correta.</p>
                    <br>
                    <p style="margin-top: 50px;" class="bd">Quando é a hora de trocar e quanto tempo ela é utilizável?</p>
                    <p>As máscaras devem ser trocadas sempre que estiverem úmidas ou com sujeira aparente. Não se deve ficar mais do que três horas com a mesma máscara. Se a máscara for usada apenas para pegar uma entrega no portão, pode ser guardada e reutilizada
                        desde que não esteja úmida ou aparentemente suja. Ela deve ser guardada num saco plástico que feche.</p>
                    <br>
                    <p style="margin-top: 50px;" class="bd">Qual é a maneira correta de higienizar a máscara?</p>
                    <p>Recomenda-se colocar de molho por 20 a 30 minutos em solução diluída de água sanitária para desinfecção (2 colheres de sopa de água sanitária para 1 litro de água). Depois, pode lavar normalmente com água e sabão. Máscaras coloridas
                        podem ser lavadas com água quente (a 60°C) e sabão de roupa.</p>
                    <br>
                    <p style="margin-top: 50px;" class="bd">Como colocar e retirar corretamente?</p>
                    <p>Antes de colocar ou retirar a máscara, lembre-se de higienizar as mãos. Com as mãos limpas, segure a máscara pelo elástico ou pelas fitas laterais, posicione na face cobrindo nariz e boca, amarre as fitas ou coloque o elástico atrás
                        das orelhas. Ajuste a máscara na face. Não encoste na parte de frente na máscara durante o uso. Retire-a sempre segurando pelas fitas ou pelos elásticos.</p>
                    <br>
                    <p style="margin-top: 50px;" class="bd">Como guardar as máscaras limpas e as sujas?</p>
                    <p>As máscaras limpas devem ser guardadas em um saco de plástico ou papel que feche. As sujas devem ser armazenadas da mesma maneira, porém, num saco diferente. O ideal é sempre armazenar os sacos dentro de bolsas ou mochilas.</p>
                    <p style="margin-top: 50px;"></p>
                    <br>
                    <p class="bd">REFERÊNCIAS:</p>
                    <a href="https://jornal.usp.br/atualidades/mascaras-caseiras-continuam-eficazes-se-usadas-de-forma-correta/" target="_blank">Mascaras caseiras continuam eficazes se usadas de forma correta</a>
                    <br>
                    <a href="https://extra.globo.com/noticias/coronavirus/quando-a-hora-de-trocar-mascara-especialistas-tiram-esta-outras-duvidas-sobre-item-de-protecao-24600575.html " target="_blank">Quando é a hora de trocar máscaras</a>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <!-- Rodape -->
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../../assets/common/js/site.js" type="text/javascript"></script>
<script src="../../../assets/common/js/footer.js" type="text/javascript"></script>

</html>