<div class="footer">
    <div class="container-footer">
        <div class="container">
            <div class="top-section"><a href="#" class="logo cc-footer w-inline-block"></a>
                <a href="index.html" aria-current="page" class="logo w-inline-block w--current">
                    <img src="https://gustavorx.github.io/proj-extensao/assets/common/img/grupo4-logo.png" alt="" class="image-logo" />
                </a>               
            </div>
            <div class="top-section"><a href="#" class="logo cc-footer w-inline-block"></a>
                <div class="footer-title-text">2021</div>
            </div>                
        </div>            
    </div>
</div>