<header id="header">
    <!-- Menu -->
    <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation w-nav">
        <div class="navigation-container">
            <a href="#" aria-current="page" class="logo w-inline-block w--current">
                <img src="../assets/common/img/grupo4-logo.png" alt="" class="image-logo" />
            </a>
            <nav role="navigation" class="nav-menu w-nav-menu">
                <a href="/views/index.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                    <div class="navigation-link-text">Início</div>
                    <div class=""></div>
                </a>
                <a href="Categorias/covid.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                    <div class="navigation-link-text">Covid-19</div>
                    <div class=""></div>
                </a>
                <a href="Categorias/financeiro.html" class="over navigation-link w-inline-block">
                    <div class="navigation-link-text">Finanças</div>
                    <div class=""></div>
                </a>
                <a href="Categorias/profissional.html" class="over navigation-link w-inline-block">
                    <div class="navigation-link-text">Profissional</div>
                    <div class=""></div>
                </a>
                <a href="Categorias/pessoal.html" class="over navigation-link w-inline-block">
                    <div class="navigation-link-text">Assistência social</div>
                    <div class=""></div>
                </a>
                <a href="sobre.html" class="over navigation-link w-inline-block">
                    <div class="navigation-link-text">Sobre nós</div>
                    <div class=""></div>
                </a>
            </nav>
            <div class="menu-button w-nav-button">
                <div class="icon-2 w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
</header>