<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <title>Sobre</title>
    <link rel="icon" type="image/png" href="../assets/common/img/Icone-do-site.png" sizes="32x32">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="../assets/common/css/site.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: ["Tenor Sans:regular", "Source Serif Pro:regular,700", "Libre Franklin:regular,600"]
            }
        });
    </script>
</head>

<body>
    <header id="header">
        <!-- Menu -->
        <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation w-nav">
            <div class="navigation-container">
                <a href="index.html" aria-current="page" class="logo w-inline-block w--current">
                    <img src="../assets/common/img/grupo4-logo.png" alt="" class="image-logo" />
                </a>
                <nav id="menu" role="navigation" class="nav-menu w-nav-menu">
                    <a href="index.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                        <div class="navigation-link-text">Início</div>
                        <div class=""></div>
                    </a>
                    <a href="Categorias/covid.html" aria-current="page"
                        class="over navigation-link w-inline-block w--current">
                        <div class="navigation-link-text">Covid-19</div>
                        <div class=""></div>
                    </a>
                    <a href="Categorias/financeiro.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Finanças</div>
                        <div class=""></div>
                    </a>
                    <a href="Categorias/profissional.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Profissional</div>
                        <div class=""></div>
                    </a>
                    <a href="Categorias/pessoal.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Social</div>
                        <div class=""></div>
                    </a>
                    <a href="sobre.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Sobre nós</div>
                        <div class=""></div>
                    </a>
                </nav>

                <!-- Menu Dropdown -->

                <div id="menu-dropdown" class="dropdown">
                    <button class="dropbtn"><img class="dropdown-img" src="../assets/common/img/MostrarMais.png"
                            alt="Categorias"></img></button>
                    <div class="dropdown-content pull-left">
                        <a href="index.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                            <div class="navigation-link-text-dropdown">Início</div>
                            <div class=""></div>
                        </a>
                        <a href="Categorias/covid.html" aria-current="page"
                            class="over navigation-link w-inline-block w--current">
                            <div class="navigation-link-text-dropdown">Covid-19</div>
                            <div class=""></div>
                        </a>
                        <a href="Categorias/financeiro.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Finanças</div>
                            <div class=""></div>
                        </a>
                        <a href="Categorias/profissional.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Profissional</div>
                            <div class=""></div>
                        </a>
                        <a href="Categorias/pessoal.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Social</div>
                            <div class=""></div>
                        </a>
                        <a href="sobre.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Sobre nós</div>
                            <div class=""></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <!-- Titulo da pagina -->
        <div class="top-post">
            <div class="container">
                <div class="posts-wrapper cc-top-post">
                    <div>
                        <div role="list">
                            <div role="listitem" class="top-post-item">

                                <div>
                                    <a class="category-link" style="cursor: auto">
                                        Categoria
                                    </a>
                                    <a class="top-post-link-block" style="cursor: auto">
                                        <h2 class="h2-category">
                                            Sobre nós
                                        </h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator">
            <div class="separator-container">
                <div class="line-color"></div>
            </div>
        </div>
        <!-- introdução-->
        <div class="post-content">
            <div class="post-content-wrapper">
                <div class="rich-text">
                    <p> Esse site foi construído por um grupo de alunos estudantes dos cursos de Ciências da
                        computação, Psicologia, Direito e Engenharia Química. Conectamos os conhecimentos de todas as
                        areas de estudos
                        para desenvolver o projeto de extensão oferecido pela USJT (Universidade São Judas Tadeu), com a
                        coordenação da Profª Milkes Yone Alvarenga.
                        O objetivo é desenvolver um site de orientação e apoio ao enfrentamento
                        da pandemia para pessoas de comunidades carentes.
                        <p class="bd">Integrantes: </p>
                    </p>
                </div>
            </div>
        </div>
        <!-- Conteúdo -->
        <div class="post-content">
            <div class="post-content-wrapper-sobrenos">
                <div class="rich-text w-richtext">
                    <div class="container-sobrenos">

                        <div class="grid-integrantes">

                            <div class="integrante">
                                <div class="foto-integrante">
                                    <img src="../assets/common/img/integrantes/giovana.jpeg" alt="Giovanna Laghetto ">
                                </div>
                                <div class="dados-integrante">
                                    <h2>Giovanna Laghetto </h2>
                                    <div>
                                        <p>Estudante</p>
                                        <p>Psicologia</p>
                                        <p>7° Semestre</p>
                                    </div>
                                </div>
                            </div>

                            <div class="integrante">
                                <div class="foto-integrante">
                                    <img src="../assets/common/img/integrantes/gustavo.JPG"
                                        alt="Gustavo Navarro Vilela">
                                </div>
                                <div class="dados-integrante">
                                    <h2>Gustavo Navarro Vilela</h2>
                                    <div>
                                        <p>Estudante</p>
                                        <p>Ciência da Computação</p>
                                        <p>6° Semestre</p>
                                    </div>
                                </div>
                            </div>

                            <div class="integrante">
                                <div class="foto-integrante">
                                    <img src="../assets/common/img/integrantes/jeniffer.jpeg" alt="Jeniffer da Silva Souza">
                                </div>
                                <div class="dados-integrante">
                                    <h2>Jeniffer da Silva Souza</h2>
                                    <div>
                                        <p>Estudante</p>
                                        <p>Direito</p>
                                        <p>7° Semestre</p>
                                    </div>
                                </div>
                            </div>

                            <div class="integrante">
                                <div class="foto-integrante">
                                    <img src="../assets/common/img/integrantes/marcelo.jpeg" alt="Marcelo de Almeida">
                                </div>
                                <div class="dados-integrante">
                                    <h2>Marcelo de Almeida</h2>
                                    <div>
                                        <p>Estudante</p>
                                        <p>Ciência da Computação</p>
                                        <p>6° Semestre</p>
                                    </div>
                                </div>
                            </div>

                            <div class="integrante">
                                <div class="foto-integrante">
                                    <img src="../assets/common/img/integrantes/nathan.jpeg" alt="Nathan Guadanhin Rocha">
                                </div>
                                <div class="dados-integrante">
                                    <h2>Nathan Guadanhin Rocha</h2>
                                    <div>
                                        <p>Estudante</p>
                                        <p>Engenharia Química</p>
                                        <p>7° Semestre</p>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="integrante">
                                <div class="foto-integrante">
                                    <img src="../assets/common/img/integrantes/roney.jpg" alt="Roney Santos Silva">
                                </div>
                                <div class="dados-integrante">
                                    <h2>Roney Santos Silva</h2>
                                    <div>
                                        <p>Estudante</p>
                                        <p>Ciência da Computação</p>
                                        <p>6° Semestre</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="integrante">
                                <div class="foto-integrante">
                                    <img src="../assets/common/img/integrantes/vinicius.jpg"
                                        alt="Vinícius Marques da Silva">
                                </div>
                                <div class="dados-integrante">
                                    <h2>Vinícius Marques da Silva</h2>
                                    <div>
                                        <p>Estudante</p>
                                        <p>Ciência da Computação</p>
                                        <p>7° Semestre</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <!-- Rodape -->
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../assets/common/js/site.js" type="text/javascript"></script>
<script src="../assets/common/js/footer.js" type="text/javascript"></script>

</html>