<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <title>A Depressão existe sim</title>
    <link rel="icon" type="image/png" href="../../../assets/common/img/Icone-do-site.png" sizes="32x32">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="../../../assets/common/css/site.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: ["Tenor Sans:regular", "Source Serif Pro:regular,700", "Libre Franklin:regular,600"]
            }
        });
    </script>
</head>

<body>
    <header id="header">
        <!-- Menu -->
        <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation w-nav">
            <div class="navigation-container">
                <a href="../../../views/index.html" aria-current="page" class="logo w-inline-block w--current">
                    <img src="../../../assets/common/img/grupo4-logo.png" alt="" class="image-logo" />
                </a>
                <nav id="menu" role="navigation" class="nav-menu w-nav-menu">
                    <a href="../../index.html" aria-current="page"
                        class="over navigation-link w-inline-block w--current">
                        <div class="navigation-link-text">Início</div>
                        <div class=""></div>
                    </a>
                    <a href="../covid.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                        <div class="navigation-link-text">Covid-19</div>
                        <div class=""></div>
                    </a>
                    <a href="../financeiro.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Finanças</div>
                        <div class=""></div>
                    </a>
                    <a href="../profissional.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Profissional</div>
                        <div class=""></div>
                    </a>
                    <a href="../pessoal.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Social</div>
                        <div class=""></div>
                    </a>
                    <a href="../../sobre.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Sobre nós</div>
                        <div class=""></div>
                    </a>
                </nav>

                <!-- Menu Dropdown -->

                <div id="menu-dropdown" class="dropdown">
                    <button class="dropbtn"><img class="dropdown-img" src="../../../assets/common/img/MostrarMais.png"
                            alt="Categorias"></img></button>
                    <div class="dropdown-content pull-left">
                        <a href="../../index.html" aria-current="page"
                            class="over navigation-link w-inline-block w--current">
                            <div class="navigation-link-text-dropdown">Início</div>
                            <div class=""></div>
                        </a>
                        <a href="../covid.html" aria-current="page"
                            class="over navigation-link w-inline-block w--current">
                            <div class="navigation-link-text-dropdown">Covid-19</div>
                            <div class=""></div>
                        </a>
                        <a href="../financeiro.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Finanças</div>
                            <div class=""></div>
                        </a>
                        <a href="../profissional.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Profissional</div>
                            <div class=""></div>
                        </a>
                        <a href="../pessoal.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Social</div>
                            <div class=""></div>
                        </a>
                        <a href="../../sobre.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Sobre nós</div>
                            <div class=""></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="title-section">
            <div class="container cc-center">
                <div class="text-container">
                    <a href="../financeiro.html" class="section-title-text w-inline-block">
                        <div class="post-category-text">FINANÇAS</div>
                    </a>
                    <h1 class="h1">DICAS PARA CONTROLAR SEU DINHEIRO!</h1>
                    <div class="post-author-text cc-center">
                        <a class="post-author">Gustavo Navarro</a>
                        <!-- Date and time-->
                        <hr>
                        <p class="h6-text-muted">Postado em 16 Maio de 2021</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-content">
            <div class="post-content-wrapper">
                <div class="rich-text w-richtext">
                    <div class="columns">
                        <div>
                            <img class="post-image" src="../../../assets/common/img/economizar-dinheiro.jpg"></img>
                        </div>
                        <p>Em meio a pandemia, infelizmente muitas pessoas passaram por apertos financeiros. Preços
                            aumentando, demissões, empresas falindo, enfim. Um momento onde muita gente ainda não
                            conseguiu se recuperar e se adaptar. Pensando nisso, separamos algumas dicas para que você
                            possa ter mais controle dos seus gastos e, se possível, fazer sobrar aquela graninha no fim
                            do mês!
                        </p>
                        <br>
                        <p class="titulo-paragrafo">Organize seu orçamento</p>
                        <P>Agora que você tem mais tempo em casa, pode aproveitar alguns momentos e fazer um controle de
                            despesas! Você pode registrar seus gastos em uma planilha online como o <a class="url-link"
                                href="https://www.office.com/launch/excel" target="_blank">Excel
                                Online</a> ou o <a class="url-link"
                                href="https://www.google.com/intl/pt-BR/sheets/about/" target="_blank">Planilhas do
                                Google</a>
                            gratuitamente. Esses sites salvam a sua planilha online na sua conta,
                            então você não corre o risco de perder nada e sempre vai ter acesso a ela de qualquer
                            lugar!. Se preferir pode registrar em um caderno mesmo, o foco é anotar tudo. É importante
                            começar anotando seus gastos fixos, aquele que vem todos os meses, como contas de água, luz,
                            gás, internet e assinaturas digitais. Agora registre os gastos variáveis, como as compras de
                            supermercado e aqueles que podem vir de surpresa ou que você usa para se dar um mimo. Tendo
                            o registro dos seus gastos, fica muito mais fácil visualizar e entender a sua situação
                            financeira, e pode te dar uma visão de onde cortar gastos e economizar!
                        </P>
                        <br>
                        <p class="titulo-paragrafo">Elimine desperdícios</p>
                        <p>Passar mais tempo em casa pode fazer aumentar o desperdício. Por isso, atente-se a pequenas
                            atitudes que podem fazer a diferença, como desligar da tomada equipamentos elétricos sem
                            uso, tomar banhos rápidos, apagar as luzes ao deixar um cômodo, fechar a torneira ao escovar
                            os dentes ou não deixar alimentos estragarem na geladeira.
                        </p>
                        <br>
                        <p class="titulo-paragrafo">Cozinhe</p>
                        <p>Embora a comodidade do delivery seja tentadora, ou até mesmo sair para comer fora, essa é uma
                            ótima oportunidade de diminuir os gastos com alimentação. Além disso, cozinhar pode ser uma
                            atividade em família e um bom passatempo.
                        </p>
                        <p>
                            Nada está escrito em pedra. A ideia não é se proibir de pedir algo diferente para comer
                            quando sentir vontade, ou simplesmente estiver cansado para cozinhar. A ideia é que você
                            possa moderar esse tipo de gasto, usando apenas em situações específicas!
                        </p>
                        <p>
                            Se você trabalha em casa, será ainda mais fácil adaptar-se à nova rotina alimentar e essa
                            mudança pode, inclusive, fazer bem para sua saúde, pois você terá mais controle sobre o tipo
                            de alimento que está consumindo e como ele é preparado.
                        </p>
                        <br>
                        <p class="titulo-paragrafo">Pesquise preços</p>
                        <p>Se você fizer uma busca rápida na internet, verá que um mesmo produto pode ser vendido em
                            diferentes sites e por diferentes preços.
                            Por isso, sempre que for fazer uma compra, pesquise online para encontrar as alternativas
                            mais adequadas a seu orçamento, afinal, na missão de poupar dinheiro, qualquer centavo
                            conta.
                            Existem algumas ferramentas, como o <a class="url-link"
                            href="https://www.buscape.com.br/" target="_blank">Buscapé</a>, que buscam e comparam ofertas, ordenando do
                            menor preço para o maior.
                        </p>
                        <br>
                        <p class="titulo-paragrafo">Renda extra</p>
                        <p>A partir do momento em que você controlou os seus gastos e cortou todos
                            os desnecessários, você precisa ganhar mais dinheiro, e existem alguns caminhos para isso.
                            Você pode começar a se qualificar para concorrer a melhores vagas de emprego, e para
                            isso existe muito conteúdo gratuito na internet praticamente sobre qualquer assunto. Outra
                            forma é fazendo renda extra, e você pode começar de forma simples, fazendo doces ou salgados
                            para vender para amigos e família.
                        </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <!-- Rodape -->
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../../assets/common/js/site.js" type="text/javascript"></script>
<script src="../../../assets/common/js/footer.js" type="text/javascript"></script>

</html>