<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <title>Produtos de graça e a preço popular</title>
    <link rel="icon" type="image/png" href="../../../assets/common/img/Icone-do-site.png" sizes="32x32">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="../../../assets/common/css/site.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: ["Tenor Sans:regular", "Source Serif Pro:regular,700", "Libre Franklin:regular,600"]
            }
        });
    </script>
</head>

<body>
    <header id="header">
        <!-- Menu -->
        <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation w-nav">
            <div class="navigation-container">
                <a href="../../../views/index.html" aria-current="page" class="logo w-inline-block w--current">
                    <img src="../../../assets/common/img/grupo4-logo.png" alt="" class="image-logo" />
                </a>
                <nav id="menu" role="navigation" class="nav-menu w-nav-menu">
                    <a href="../../index.html" aria-current="page"
                        class="over navigation-link w-inline-block w--current">
                        <div class="navigation-link-text">Início</div>
                        <div class=""></div>
                    </a>
                    <a href="../covid.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                        <div class="navigation-link-text">Covid-19</div>
                        <div class=""></div>
                    </a>
                    <a href="../financeiro.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Finanças</div>
                        <div class=""></div>
                    </a>
                    <a href="../profissional.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Profissional</div>
                        <div class=""></div>
                    </a>
                    <a href="../pessoal.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Assistência social</div>
                        <div class=""></div>
                    </a>
                    <a href="../../sobre.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Sobre nós</div>
                        <div class=""></div>
                    </a>
                </nav>

                <!-- Menu Dropdown -->

                <div id="menu-dropdown" class="dropdown">
                    <button class="dropbtn"><img class="dropdown-img" src="../../../assets/common/img/MostrarMais.png"
                            alt="Categorias"></img></button>
                    <div class="dropdown-content pull-left">
                        <a href="../../index.html" aria-current="page"
                            class="over navigation-link w-inline-block w--current">
                            <div class="navigation-link-text-dropdown">Início</div>
                            <div class=""></div>
                        </a>
                        <a href="../covid.html" aria-current="page"
                            class="over navigation-link w-inline-block w--current">
                            <div class="navigation-link-text-dropdown">Covid-19</div>
                            <div class=""></div>
                        </a>
                        <a href="../financeiro.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Finanças</div>
                            <div class=""></div>
                        </a>
                        <a href="../profissional.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Profissional</div>
                            <div class=""></div>
                        </a>
                        <a href="../pessoal.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Assistência social</div>
                            <div class=""></div>
                        </a>
                        <a href="../../sobre.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Sobre nós</div>
                            <div class=""></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="title-section">
            <div class="container cc-center">
                <div class="text-container">
                    <a href="../financeiro.html" class="section-title-text w-inline-block">
                        <div class="post-category-text">Finanças</div>
                    </a>
                    <h1 class="h1">Produtos de graça ou a preço popular</h1>
                    <div class="post-author-text cc-center">
                        <a class="post-author">Giovanna Laghetto</a>
                        <!-- Date and time-->
                        <hr>
                        <p class="h6-text-muted">Postado em 18 Maio de 2021</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Conteúdo -->
        <div class="post-content">
            <div class="post-content-wrapper">
                <div class="rich-text w-richtext">
                    <p class="titulo-paragrafo">Saiba como conseguir produtos de graça ou a preço popular</p>
                    <div class="display-flex">
                        <div class="text-leftside">
                            <br>
                            <p>Como todos sabemos,
                                estamos vivendo uma época
                                muito diferente da
                                normalidade, uma pandemia
                                mundial que atingiu de
                                maneira drástica diversos
                                fatores, inclusive o financeiro
                                de inúmeras pessoas em
                                todo o mundo.</p>
                            <p>Com a economia
                                sendo prejudicada, muitos
                                perderam seus empregos ou
                                até foram impedidos de
                                trabalhar devido à exposição
                                ao vírus, por exemplo, se
                                você trabalha em algum tipo
                                de bar/restaurante, é muito
                                provável que tenha ficado em casa muitos dias, sem ganhar seu salário e sem
                                poder fazer nada a respeito. Porém, por mais que o salário não entre na sua conta,
                                os boletos não param de chegar!
                            </p>
                        </div>

                        <div>
                            <img class="image-desktop post-image image-rightside"
                                src="../../../assets/common/img/img-produtos-graca2.jpg"></img>
                        </div>
                    </div>

                    <div>
                        <img class="image-mobile-display-none image-mobile post-image"
                            src="../../../assets/common/img/img-produtos-graca2.jpg"></img>
                    </div>
                </div>
                <p>Por isso, muitos optaram por cortes de gastos para conseguirem, pelo
                    menos, pagar as contas essenciais como alimentação, saúde, contas de luz e água.
                    Mas, nem sempre é tão simples assim, ainda temos gastos a mais com cartão de
                    crédito, algumas roupas em específico que precisamos comprar, talvez até algum
                    medicamento que seja de uso necessário mas acabou ficando caro para manter ele
                    em casa.
                </p>
                <p>Foi pensando nisso que separamos alguns conteúdos para te auxiliar nessa
                    redução de gastos. Vamos lá:
                </p>
                <p class="titulo-paragrafo">1. Medicamentos gratuitos ou pelo melhor preço</p>
                <p>Não sei se já ouviu falar, mas existe um aplicativo de celular chamado "Aqui
                    Tem Remédio", criado em 2015, nele você consegue ter acesso às farmácias que
                    estão com medicamentos gratuitos disponíveis; basta acessar o app e procurar pelo
                    nome do remédio, assim, irão aparecer as farmácias com a medicação que você
                    deseja. Mas existe uma boa alternativa também, um outro aplicativo chamado
                    "Consulta Remédios" traz uma lista de melhores preços para você, sinalizando,
                    após a sua busca pela medicação, qual farmácia está com o preço mais em conta.
                </p>
                <p class="titulo-paragrafo">2. Roupas mais baratas que o normal</p>
                <p>Convenhamos que às vezes estamos precisando de algumas roupas, nem
                    sempre para nós, mas para um(a) filho(a) que está crescendo, uma temporada a
                    mais de frio que está fazendo e precisa de uns casacos novos, etc. Diante disso,
                    essa dica fica mais imperdível ainda! Na Rua 25 de Março, 113, existe um brechó
                    que está ficando bem famoso nas redes sociais e super comentado, porque nele
                    você consegue comprar um kilo de roupa por 25 reais. Isso mesmo, não é fake
                    news! Se você quiser saber mais a respeito, esse link aqui <a
                        href="https://modaparahomens.com.br/brecho-na-25-de-marco-vende-roupas-por-quilo-r25-o-kg-de-roupas/amp/"
                        target="_blank">Brechó na 25 de Março vende roupas por quilo</a>

                    te leva a mais informações básicas de como as coisas
                    funcionam por lá e disponibiliza também um número de telefone em caso de
                    maiores dúvidas e agendamento para poder ir até lá dar uma conferida.
                </p>
                <p class="titulo-paragrafo">3. Cestas Básicas</p>
                <p>O Programa Cidade Solidária têm distribuído cestas básicas por São Paulo,
                    e até hoje, estima-se que foram em torno de 200 mil cestas básicas totalizando 2,4
                    mil toneladas de alimentos, entregues a 497 entidades sociais, porém, pela
                    quantidade grande de cadastros para receber tais doações, a prefeitura de São
                    Paulo pausou, temporariamente, as inscrições de recebimento, contudo, caso faça
                    parte de alguma entidade social, você pode ficar de olho nos requisitos necessários
                    e na próxima demanda de inscrições através deste link:
                    <a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/direitos_humanos/noticias/?p=310113"
                        target="_blank">Cadastro de entidades para distribuição de cestas</a>
                    Interessante também saber que, através da Prefeitura, você consegue se
                    informar sobre locais que oferecem comida de graça e até mesmo alguns
                    restaurantes com preço popular, não esquecendo que em caso de necessidade, os
                    abrigos também oferecem alimentação. Fique atento a algumas entidades sociais,
                    pois às vezes elas realizam eventos para distribuição de alimentos; até mesmo
                    Instituições Religiosas trabalham de forma voluntária para auxiliar nessa parte de
                    distribuição.
                </p>
                <div>
                    <p>REFERÊNCIAS:</p>
                    <a href="http://g1.globo.com/sao-paulo/noticia/2015/12/prefeitura-de-sp-lanca-aplicativo-que-informa-onde-remedio-esta-disponivel.html"
                        target="_blank">Prefeitura de SP lança aplicativo que informa onde remédio está
                        disponível<br></a>

                    <a href="https://www.techtudo.com.br/dicas-e-tutoriais/2017/11/comprar-remedio-com-desconto-aplicativo-compara-precos-de-farmacias.ghtml"
                        target="_blank">Comprar remédio com desconto: Aplicativo compara preços de farmácias</a>
                    <br>
                    <a href="https://modaparahomens.com.br/brecho-na-25-de-marco-vende-roupas-por-quilo-r25-o-kg-de-roupas/"
                        target="_blank">Brechó na 25 de Março vende roupas por quilo</a>
                    <br>
                    <a href="https://www.saopaulo.sp.leg.br/blog/cidade-de-sp-oferece-cestas-basicas-e-alimentacao-para-vulneraveis-durante-a-pandemia/"
                        target="_blank">Cidade de SP oferece cestas básicas e alimentação para vulneráveis
                        durante a pandemia</a>
                    <br>
                </div>
            </div>
        </div>
        </div>
    </section>
    <footer id="footer">
        <!-- Rodape -->
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../../assets/common/js/site.js" type="text/javascript"></script>
<script src="../../../assets/common/js/footer.js" type="text/javascript"></script>

</html>