<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <title>Dicas para ter uma renda extra durante a Pandemia</title>
    <link rel="icon" type="image/png" href="../../../assets/common/img/Icone-do-site.png" sizes="32x32">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="../../../assets/common/css/site.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: ["Tenor Sans:regular", "Source Serif Pro:regular,700", "Libre Franklin:regular,600"]
            }
        });
    </script>
</head>

<body>
    <header id="header">
        <!-- Menu -->
        <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation w-nav">
            <div class="navigation-container">
                <a href="../../../views/index.html" aria-current="page" class="logo w-inline-block w--current">
                    <img src="../../../assets/common/img/grupo4-logo.png" alt="" class="image-logo" />
                </a>
                <nav id="menu" role="navigation" class="nav-menu w-nav-menu">
                    <a href="../../index.html" aria-current="page"
                        class="over navigation-link w-inline-block w--current">
                        <div class="navigation-link-text">Início</div>
                        <div class=""></div>
                    </a>
                    <a href="../covid.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                        <div class="navigation-link-text">Covid-19</div>
                        <div class=""></div>
                    </a>
                    <a href="../financeiro.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Finanças</div>
                        <div class=""></div>
                    </a>
                    <a href="../profissional.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Profissional</div>
                        <div class=""></div>
                    </a>
                    <a href="../pessoal.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Assistência social</div>
                        <div class=""></div>
                    </a>
                    <a href="../../sobre.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Sobre nós</div>
                        <div class=""></div>
                    </a>
                </nav>

                <!-- Menu Dropdown -->

                <div id="menu-dropdown" class="dropdown">
                    <button class="dropbtn"><img class="dropdown-img" src="../../../assets/common/img/MostrarMais.png"
                            alt="Categorias"></img></button>
                    <div class="dropdown-content pull-left">
                        <a href="../../index.html" aria-current="page"
                            class="over navigation-link w-inline-block w--current">
                            <div class="navigation-link-text-dropdown">Início</div>
                            <div class=""></div>
                        </a>
                        <a href="../covid.html" aria-current="page"
                            class="over navigation-link w-inline-block w--current">
                            <div class="navigation-link-text-dropdown">Covid-19</div>
                            <div class=""></div>
                        </a>
                        <a href="../financeiro.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Finanças</div>
                            <div class=""></div>
                        </a>
                        <a href="../profissional.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Profissional</div>
                            <div class=""></div>
                        </a>
                        <a href="../pessoal.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Assistência social</div>
                            <div class=""></div>
                        </a>
                        <a href="../../sobre.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Sobre nós</div>
                            <div class=""></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="title-section">
            <div class="container cc-center">
                <div class="text-container">
                    <a href="../financeiro.html" class="section-title-text w-inline-block">
                        <div class="post-category-text">FINANÇAS</div>
                    </a>
                    <h1 class="h1">Dicas para ter uma renda extra durante a Pandemia</h1>
                    <div class="post-author-text cc-center">
                        <a class="post-author">NATHAN GUADANHIN ROCHA</a>
                        <!-- Date and time-->
                        <hr>
                        <p class="h6-text-muted">Postado em 18 Maio de 2021</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-content">
            <div class="post-content-wrapper">
                <div class="rich-text w-richtext">
                    <div class="columns">
                        <p> &nbsp; Durante a pandemia, muitas pessoas perderam o emprego e ficaram com a renda familiar muito apertada como consequência. Aqui nós vamos te dar algumas dicas para tentar mudar isso e te ajudar, colocando um sorriso no seu rosto por conseguir uma renda extra e comida na mesa da sua família. <span class="bd">Aqui vão quatro dicas para te ajudar:</span>
                        </p>
                        <br>
                        <p class="titulo-paragrafo"> &nbsp; 1 - Reduza gastos</p>
                        <P> &nbsp;Uma maneira que vai te ajudar a ter uma folga maior no seu orçamento e não deixar ele tão apertado é reduzir gastos. Todos nós sabemos que é muito gostoso comprar as “besteirinhas” que somam de cinco em cinco na fatura do cartão de crédito e acaba se tornando mil reais por mês.
                        </P>
                        <P> &nbsp;Tente reduzir esses gatos que você verá uma mudança significativa na renda mensal, podendo até conferir se a situação é tão grave quanto pensa. Sempre se pergunte se você realmente precisa gastar seu dinheiro com isso ou se você só quer, é fundamental sabermos separar o que é essencial.
                        </P>
                        
                        <img class="center" src="../../../assets/common/img/extra1.png"></img>
                        
                        <p class="titulo-paragrafo"> &nbsp; 2 - Hora do desapego</p>
                        <P> &nbsp;Separe alguns objetos que estão conservados e que não usa mais. Sempre guardamos algo alegando que usaremos depois, mas na verdade só acumulamos. Sem perceber, você pode estar com o dinheiro parado de algum boleto que ia te salvar no mês. Por isso sempre verifique em sua casa o que você consegue vender. A forma de anúncio hoje em dia é muito fácil, pode ser pelo: Facebook, grupos no Whatsapp, Instagram e até mesmo em plataformas especializadas em vendas online como o Mercado Livre e a OLX.
                        </P>

                        <p class="titulo-paragrafo"> &nbsp; 3 – Fazer entregas</p>
                        <P> &nbsp;Os serviços de entregas são boas opções para ajudar a dar aquela aumentada no dinheiro. Com o avanço da tecnologia e desenvolvimento dos aplicativos, muitas pessoas começaram a preferir se alimentar, comprar objetos ou até mesmo contratar serviços pelos aplicativos. É nessa que você pode entrar pois o mercado de entregas é muito grande e sempre precisa de pessoas para realizar as mesmas. Por isso verifique os aplicativos que funcionam na sua região pois em alguns você nem precisa necessariamente ter uma moto ou um carro, pode fazer as entregas de bicicleta.
                        </P>

                        <img class="center" src="../../../assets/common/img/extra2.jpg"></img>

                        <p class="titulo-paragrafo"> &nbsp; 4 - Confeccionar máscaras</p>
                        <P> &nbsp;As máscaras de proteção contra a COVID-19, além de ser obrigatórios em todos os lugares, vem gerando um mercado interessante em relação a criação e confecção. Algumas pessoas preferem as descartáveis e outras as de pano. 
                        </P>
                        <P> &nbsp;Por isso, você consegue criar sua própria empresa na sala da sua casa. Com pouco dinheiro é possível comprar tecidos diferentes e começar a confeccionar as mesmas. Mesmo sendo um item de proteção, as máscaras se tornaram um acessório de moda para muitas pessoas que sempre combinam as máscaras com a roupa. Sendo assim, se você for começar a fazer máscaras, tente fazer elas com tecidos diferentes para te ajudar a ter um maior número de vendas.
                        </P>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <!-- Rodape -->
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../../assets/common/js/site.js" type="text/javascript"></script>
<script src="../../../assets/common/js/footer.js" type="text/javascript"></script>

</html>