<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <title>Site projeto</title>
    <link rel="icon" type="image/png" href="../../../assets/common/img/Icone-do-site.png" sizes="32x32">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="../../../assets/common/css/site.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: ["Tenor Sans:regular", "Source Serif Pro:regular,700", "Libre Franklin:regular,600"]
            }
        });
    </script>
</head>

<body>
    <header id="header">
        <!-- Menu -->
        <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation w-nav">
            <div class="navigation-container">
                <a href="index.html" aria-current="page" class="logo w-inline-block w--current">
                    <img src="../../../assets/common/img/grupo4-logo.png" alt="" class="image-logo" />
                </a>
                <nav id="menu" role="navigation" class="nav-menu w-nav-menu">
                    <a href="../../index.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                        <div class="navigation-link-text">Início</div>
                        <div class=""></div>
                    </a>
                    <a href="../covid.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                        <div class="navigation-link-text">Covid-19</div>
                        <div class=""></div>
                    </a>
                    <a href="../financeiro.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Finanças</div>
                        <div class=""></div>
                    </a>
                    <a href="../profissional.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Profissional</div>
                        <div class=""></div>
                    </a>
                    <a href="../pessoal.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Assistência social</div>
                        <div class=""></div>
                    </a>
                    <a href="../../sobre.html" class="over navigation-link w-inline-block">
                        <div class="navigation-link-text">Sobre nós</div>
                        <div class=""></div>
                    </a>
                </nav>

                <!-- Menu Dropdown -->

                <div id="menu-dropdown" class="dropdown">
                    <button class="dropbtn"><img class="dropdown-img" src="../../../assets/common/img/MostrarMais.png" alt="Categorias"></img></button>
                    <div class="dropdown-content pull-left">
                        <a href="../../index.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                            <div class="navigation-link-text-dropdown">Início</div>
                            <div class=""></div>
                        </a>
                        <a href="../covid.html" aria-current="page" class="over navigation-link w-inline-block w--current">
                            <div class="navigation-link-text-dropdown">Covid-19</div>
                            <div class=""></div>
                        </a>
                        <a href="../financeiro.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Finanças</div>
                            <div class=""></div>
                        </a>
                        <a href="../profissional.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Profissional</div>
                            <div class=""></div>
                        </a>
                        <a href="../pessoal.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Assistência social</div>
                            <div class=""></div>
                        </a>
                        <a href="../../sobre.html" class="over navigation-link w-inline-block">
                            <div class="navigation-link-text-dropdown">Sobre nós</div>
                            <div class=""></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-button w-nav-button">
            <div class="icon-2 w-icon-nav-menu">

            </div>
        </div>

    </header>
    <section>
        <!-- COLOCAR O CONTEUDO AQUI -->
        <div class="title-section">
            <div class="container cc-center">
                <div class="text-container">
                    <a href="../profissional.html" class="section-title-text w-inline-block">
                        <div class="post-category-text">Profissional</div>
                    </a>
                    <h1 class="h1">Saiba como fazer um currículo de sucesso!</h1>
                    <div class="post-author-text cc-center">
                        <a class="post-author">Vinícius Marques</a>
                        <!-- Date and time-->
                        <hr>
                        <p class="h6-text-muted">Postado em 13 Maio de 2021</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-content">
            <div class="post-content-wrapper">
                <div class="rich-text w-richtext">
                        <p>O currículo é seu passaporte para uma entrevista de emprego. Por isso você tem que cria-lo com cuidado para exibir bem seu perfil profissional. Imagine perder uma oportunidade por ter um currículo confuso, incompleto, com informações desnecessárias ou com até com erros de português. Nada disso! com esse guia você vai aprender a fazer um currículo pra impressionar qualquer recrutador.</p>
                        <p class="cyan-p">O que um currículo tem que ter?</p>
                        <br> <p class="h3-alt bd">Dados Pessoais</p>
                        <div class="tab-div">
                            <p>Nome completo</p>
                            <p>Endereço</p>
                            <p>Data de nascimento</p>
                            <p>Contato (e-mail, telefone e celular)</p>
                            <p>Link do linkedIn - <a href="linkedin.html">Conheça o LinkedIn!</a></p>

                            <p><span class="bd">CUIDADO</span>: se você tem um e-mail com gíria ou piada não use. Crie um novo e-mail com seu nome e sobrenome. E fique atento(a), pois muitas entrevistas podem ser marcadas por e-mail.</p>
                        </div>
                        
                        <br> <p class="h3-alt bd">Objetivo Profissional</p>
                        <div class="tab-div">
                            <p>Você deve colocar o cargo da vaga que você se candidatou. É muito importante adaptar seu currículo para cada vaga que você se candidatar. Se você tem experiências em áreas diferentes faça um currículo para cada área que você está disposto a se candidatar.</p>
                            <p><span class="bd">CUIDADO</span>: não coloque objetivos vagos como:</p>
                            <p class="magenta">"Estou a disposição da empresa", "aceito o que a empresa propuser", "trabalho no que a empresa preferir", "nem primeiro emprego"</p>
                            <p>Isso mostra que você não tem foco nenhum.</p>
                            <p>Caso seja uma vaga de jovem aprendiz, pode acrescentar essa informação junto da área</p>

                            <div class="tab-div">
                                <p class="post-category-text">Exemplo:</p>
                                <p style="line-height: 1px;">Jovem Aprendiz - área financeira</p>
                            </div>
                        </div>

                        <br> <p class="h3-alt bd">Qualificações</p>
                        <div class="tab-div">
                            <p>Apresentação profissional simples e resumida que vai convencer o recrutador a ler seu currículo até o final e te chamar para uma entrevista.</p>
                            <p class="magenta">O que não pode ter: qualidades, autoelogios, pedidos de ajuda.</p>
                        </div>

                        <br> <p class="h3-alt bd">Formação</p>
                        <div class="tab-div">
                            <p>Se você tem ensino superior, mestrado, pós mestrado, doutorado. Não precisa colocar sua graduação do ensino médio ou fundamental.</p>
                            <p>Se você tem algum curso técnico relacionado à vaga que está se candidatando é interessante coloca-lo.</p>
                            <p>Se você tem ensino médio completo, não precisa colocar o ensino fundamental.</p>
                            <p>Se você ainda está cursando o ensino médio, pode colocar o ano de termino do ensino fundamental e a previsão de termino do ensino médio.</p>
                        </div>

                        <br> <p class="h3-alt bd">Idiomas</p>
                        <div class="tab-div">
                            <p>É interessante colocar os idiomas se você está em um nível intermediário ou maior.</p>
                            <p>Mas fique atento à vaga: Se a vaga pede idioma fluente, pode ter certeza que a entrevista será nesse idioma.</p>
                            <p>Também vale para vagas que requerem pelo menos idioma básico, nesse caso você pode colocar os idiomas que você tem nível básico.</p>
                        </div>

                        <br> <p class="h3-alt bd">Experiências profissionais</p>
                        <div class="tab-div">
                            <p class="bd">NOME DA EMPRESA - PERÍODO - CARGO - FUNÇÕES - RESULTADOS OBTIDOS</p>
                            <p style="font-style: italic;">(importante resumir o que você contribuiu para a empresa, são coisas que serão interessantes pra que o entrevistador querer saber mais de você durante a entrevista)</p>
                        </div>

                        <br> <p class="h3-alt bd">Cursos</p>
                        <div class="tab-div">
                            <p>Cursos relevantes para a área</p>
                            <p class="bd">ESCOLA - PERÍODO</p>
                        </div>

                        <br> <p class="h3-alt bd">Atividades Extra curriculares</p>
                        <p style="font-style: italic;">Essa parte é excelente caso você não tenha experiências profissionais</p>
                        <div class="tab-div">
                            <p>Concursos escolares, olimpíadas de matemática, trabalho voluntário, bicos temporários (exemplo: lojas que contratam em período de Natal)</p>
                        </div>
                        <hr>
                        <p class="cyan-p">Preciso de foto no meu currículo?</p>
                        <p>A resposta é não.  A maioria das empresas atualmente não pedem foto no currículo e até veem com maus olhos essa prática.</p>
                        <br>
                        <p class="cyan-p">Preciso de um computador para fazer um currículo?</p>
                        <p>Você pode fazer seu currículo completamente do seu celular. Existem vários aplicativos para isso. Gostaríamos de recomendar:</p>
                        <span class="bd">Aplicativo: Fazer Currículo grátis PDF Curriculum vitae 2021</span>
                        <img src="../../../assets/common/img/app-curriculo.png"><img>
                        <a href="https://play.google.com/store/apps/details?id=icv.resume.curriculumvitae&hl=pt-BR">https://play.google.com/store/apps/details?id=icv.resume.curriculumvitae&hl=pt-BR</a>
                        <p>Você pode criar seu currículo com diversos formatos prontos diferentes. Assim é só salvar em no formato PDF dentro do próprio aplicativo e já está pronto para enviar!</p>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <!-- Rodape -->
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../../assets/common/js/site.js" type="text/javascript"></script>
<script src="../../../assets/common/js/footer.js" type="text/javascript"></script>

</html>

